.link__featureButton > button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.link__featureButton {
  display: flex;
  align-items: flex-start;
}
